body {
    background-color: #000 !important;
    margin: 0;
    padding: 4px;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    height: 4vh;
    background-color: #343a40;
    color: #f8f9fa;
    display: flex;
    align-items: center;
    text-align: center;
}

#map {
    height: 96vh;
    width: 100%;
    display: block;
}